<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title }) %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="container">
        <div class="error-page">
            <h1>404</h1>
            <p>The page you're looking for doesn't exist.</p>
            <a href="/" class="btn">Go Home</a>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>